---
title: Mil Cópias - Aluguel e locação de impresoras | Aniversario de 40 anos
description: Olá mundo
---

<section class="lg:bg-hero px-6 lg:h-screen lg:bg-cover lg:bg-center lg:bg-no-repeat">
  <div class="container mx-auto max-w-7xl"></div>
</section>

<div>
  {{< beneficios-da-solucao background="bg-purple" nome="Junior" >}}
</div>
