<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap" rel="stylesheet" />

    {{ $style := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>
  <body>
    <header class="p-6">
      <div class="container mx-auto max-w-7xl">
        <nav class="flex items-center justify-center gap-x-12 text-xs">
          <div>
            <a href="/">
              <img class="w-40" src="/img/logo-milcopias.png" alt="" />
            </a>
          </div>
          <div class="hidden gap-x-8 xl:flex">
            <a class="block" href="#">Outsourcing de impressão</a>
            <a class="block" href="#">Soluções</a>
            <a class="block" href="#">Case</a>
            <a class="block" href="#">Empresa</a>
            <a class="block" href="#">Blog</a>
            <a class="block" href="#">Contato</a>
            <a class="block" href="#">Área do cliente</a>
            <a class="block" href="#">Gráfica Rápida</a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      {{ block "main". }}{{ end }}
      {{ partial "beneficios-digitais.html" }}
    </main>

    <footer class="bg-gray p-12 text-white">
      <div class="w-full">
        <div class="grid grid-cols-4 gap-16">
          <div class=" space-y-6">
            <img src="/img/logo-milcopias-white.svg" alt="" />
            <p>A Mil Cópias é distribuidor autorizado da Kyocera e Canon, revenda autorizada M-Files e Topdata e tem parceria comercial com Zebra e Avision. Oferece soluções no ramo de locação de equipamentos, terceirização de impressão e gráfica rápida no estado do Espírito Santo.</p>
          </div>

          <div class="space-y-6">
            <h2 class="text-xl font-bold">Links Úteis</h2>
            <a href="">Área do Cliente</a>
            <a href="">Casos de Sucesso</a>
            <a href="">Materiais educativos</a>
            <a href="">Blog</a>
            <a href="">Contato</a>
            <a href="">Trabalhe conosco</a>
          </div>

          <div class="space-y-6">
            <h2 class="text-xl font-bold">Soluções MPS</h2>
            <a href="">Outsourcing de impressão</a>
            <a href="">Correção de Prova – Teaching Assistant</a>
            <a href="">Impressão em etiquetas</a>
            <h3 class="text-xl font-bold">Soluções ECM</h3>
            <a href="">Gestão de Conteúdo Empresarial</a>
            <a href="">Digitalização de documentos</a>
          </div>

          <div class="space-y-6">
            <h2 class="text-xl font-bold">Fale Conosco</h2>
            <a href="">contato@milcopias.com.br</a>
            <a href="">Av. Augusto de Carvalho, 1435 Centro, Linhares/ES CEP: 29900-153</a>
            <a href="">(27) 3372-7171</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
