@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-syne;
    font-size: 20px;
  }

  a {
    display: block;
  }
}

@layer components {
  .button {
    @apply bg-slate-950  hover:bg-green-950 inline-block px-20 py-6 font-semibold uppercase tracking-widest text-white duration-300 ease-in-out;
  }

  .rich-text > * + p {
    @apply mt-6;
  }

  /* .rich-text > * + h2 {
    @apply mt-96;
  } */

  .rich-text h2 {
    @apply text-4xl font-bold;
  }

  .rich-text h3 {
    @apply mt-10 text-4xl font-bold;
  }
}
