<section class="bg-purpleLight grid gap-y-28 px-6 py-32">
  <div class="container mx-auto max-w-4xl">
    <div class="space-y-6 text-center">
      <h2 class="text-purple text-4xl font-bold">Por que aderir à Transformação Digital?</h2>
      <h3 class="text-2xl font-bold">Foque no que realmente importa, o seu negócio</h3>
      <p>As soluções integradas da Mil Cópias oferecem gestão de informação e interconectividade para automatizar os processos que, anteriormente, consumiam muito tempo e capital. É a Gestão Inteligente de Conteúdo Empresarial que chegou com tecnologia para mudar o modo como sua empresa gerencia conteúdo.</p>
    </div>
  </div>

  <div class="container contents text-center 2xl:w-full">
        <ul class="gap-x-24  space-y-10 sm:columns-2 2xl:columns-4">
            <li class="space-y-6">
                <img class="mx-auto" src="/icons/icone-engrenagem.svg" alt="" />
                <div class="space-y-2">
                <p class="font-bold">Controle de Conteúdo Corporativo</p>
                <p>Tenha acesso rápido e preciso aos conteúdos atualizados para tomada de decisões inteligentes a partir de documentos como imagens, vídeos, arquivos de áudio e muitos outros.</p>
                </div>
            </li>
            <li class="space-y-6">
                <img class="mx-auto" src="/icons/icone-engrenagem.svg" alt="" />
                <div class="space-y-2">
                <p class="font-bold">Controle de Conteúdo Corporativo</p>
                <p>Tenha acesso rápido e preciso aos conteúdos atualizados para tomada de decisões inteligentes a partir de documentos como imagens, vídeos, arquivos de áudio e muitos outros.</p>
                </div>
            </li>
            <li class="space-y-6">
                <img class="mx-auto" src="/icons/icone-engrenagem.svg" alt="" />
                <div class="space-y-2">
                <p class="font-bold">Controle de Conteúdo Corporativo</p>
                <p>Tenha acesso rápido e preciso aos conteúdos atualizados para tomada de decisões inteligentes a partir de documentos como imagens, vídeos, arquivos de áudio e muitos outros.</p>
                </div>
            </li>
            <li class="space-y-6">
                <img class="mx-auto" src="/icons/icone-engrenagem.svg" alt="" />
                <div class="space-y-2">
                <p class="font-bold">Controle de Conteúdo Corporativo</p>
                <p>Tenha acesso rápido e preciso aos conteúdos atualizados para tomada de decisões inteligentes a partir de documentos como imagens, vídeos, arquivos de áudio e muitos outros.</p>
                </div>
            </li>
        </ul>
        <div>
            <a class="bg-blue inline-block px-6 py-2 font-bold text-white" href="#">Solicite uma demonstração</a>
        </div>
    </div>
  </div>
</section>
